html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-align: center;
}

.navbar{
    background-color: #f0f0ee;
}

/*форма входа*/
.form-signin {
    border-radius: 6%;
    background: rgba(248,249,250,0.8);
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 8% auto 0;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*index*/
.main{
    margin-top: 4%;
    text-align: center;
}

.title__main {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.title__text {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.99);
    line-height: 2;
}

.title {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: center;
}

/*Профиль*/
.card{
    margin-top: 4%;
}

/*Тест*/
.row.justify-content-center.test{
    margin-top: 4%;
    width: 100%;
    background: rgba(248,249,250,0.8);
    border-radius: 6%;
}