<#ftl encoding="UTF-8"/>
<#include "base.ftlh"/>
<#macro content>
    <div class="container-fluid">
        <#if isNotAuthorized??>
            <h2>ОШИБКА ПОЧТЫ ИЛИ ПАРОЛЯ</h2>
        </#if>
        <form class="form-signin align-middle" action="/signUp" method="post">
            <h1 class="h3 mb-3 font-weight-normal text-center">Регистрация</h1>
            <label for="inputName" class="sr-only">Имя</label>
            <input type="text" id="inputName" name="name" class="form-control" placeholder="Имя"
                   required autofocus>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email">
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Пароль"
                   required>
            <label for="inputNumber" class="sr-only">Номер телефона</label>
            <input type="number" id="inputNumber" name="number" class="form-control" placeholder="Номер"
                   required>
            <input type="hidden" name="role" value="USER">
            <input type="hidden" name="rating" value="0">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
        </form>
    </div>
</#macro>
<@main/>